[paths]
log_directory = /var/log/platform
source_folder = /var/sftp/home/dataconverteruser/
default_processing_folder = /var/platform/processing/
error_folder = /var/platform/failed_files/
flask_app = /deploy/app/

[settings]
check_interval = 2
max_attempts = 10

[suffixes_to_handle]
.log = /var/platform/logs/
.txt = /var/platform/text_files/

[prefixes_to_handle]
backup_ = /var/platform/backups/
