[paths]
log_directory = /var/log/platform
source_folder = /mnt/0-source/
default_processing_folder = /mnt/1-processing/
error_folder = /mnt/2-failed/
flask_app = /deploy/app/

[settings]
check_interval = 2
max_attempts = 10

[suffixes_to_handle]
.log = /mnt/log_files/
.txt = /mnt/txt_files/

[prefixes_to_handle]
backup_ = /mnt/backups/
